/* LEAF WRAPPER */
.leaf-wrapper {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

/* DOT - NEVER MOVES */
.leaf {
    font-size: 55px;
    color: #0b6b43;
    line-height: 0;
    font-weight: bold;
}

/* INFO BOX */
.leaf-data {
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);

    padding: 8px 12px;
    min-width: 120px;

    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    backdrop-filter: blur(8px);

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    font-size: 14px;
    text-align: center;
    white-space: nowrap;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease;

    pointer-events: none;
}

/* ONLY SHOW/HIDE THE DATA */
.leaf-wrapper:hover .leaf-data {
    opacity: 1;
    visibility: visible;
}